<!--<%# @cuepoint = Cuepoint.new unless @cuepoint %>-->
<!--<%# @cuepoints = Cuepoint.select(:name).distinct unless @cuepoints %>-->
<div class="row">
  <%= form_for (@cuepoint) do |f| %>
    <%= collection_check_boxes(:post, :name, @cuepoints.all, :id, :name)  %>
    
  <% end %>
</div>